<footer class="page-footer font-small fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <a href="https://www.eventchat.xyz" class="text-white font-weight-bolde"> EventChat.xyz</a>
  </div>
  <!-- Copyright -->

</footer>
