<footer class="page-footer font-small fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <a href="#" class="text-white font-weight-bolde"> EventChat.com</a>
  </div>
  <!-- Copyright -->

</footer>
