/*
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";
 @import "tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4";
 @import "font-awesome";

$header-color: #4E8D9F;
$footer-color: #322D2A;
$non-active-cplor: #C5B5A6;
$active-color: #E6D177;
$bace-color: #F4E2CA;
$form-color: #E9ECEF;
$form-text-color: #495057;

.base-container {
  @extend .container-fluid;
  max-width: 920px;
  padding: 2rem;
  padding-bottom: 70px;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.wrapper {
  padding: 0.5rem;
  border: 1px solid $form-color;
  border-radius: 0 0 4px 4px;
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    .navbar-collapse {
      justify-content: space-between;
    }
  }
}


.main-color {
  background-color: $header-color;
}

.active-color {
  background-color: $active-color;
}

.btn-twitter {
  background-color: #1DA0F2;
  & :hover {
    opacity: 0.8;
  }
}

.logo {
  font-size: 2rem;
}

.dropdown:hover {
  .dropdown-menu {
    display: block;
  }
}

.card-image-top {
  margin: {
    top: 20px;
    left: 20px;
  }
}

.event-image {
  width: 100px;
  height: 80px;
}

.eyechatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-nickname {
  margin: {
    top: 0px;
    bottom: 12px;
  }
}

.event-accepting {
  border-radius: 4px;
}

.event-closed {
  border-radius: 4px;
}

.event-top {
  margin-top: 30px;
}

.name-label {
  background-color: $bace-color;
  border-radius: 4px;
}

.table-ditale {
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-top: 1px solid $form-color;
  border-right: 1px solid $form-color;


  th {
    width: 30%;
    background-color: $form-color;
    box-sizing: border-box;
    padding: 15px;
    font-weight: normal;
    text-align: center;
    color: $form-text-color;

    &:first-of-type {
      border-bottom: 1px solid #fff;
    }
  }

  td {
    text-align: left;
    box-sizing: border-box;
    padding: 15px;
    border-bottom: 1px solid $form-color;
  }
}

.event-detaile {
  border-radius: 4px;
  border: 1px solid $form-color;

  .event-title {
    background-color: $form-color;
    padding: 7px;
  }
}

.tab-bar {
  border-radius: 4px 4px 0 0;
}

.tab-item {
  a {
    color: #fff;
  }
}


.pagination {
  justify-content: center;
  >li{
    >a{
      border: none;
      color: #696969;

      .page-link {
        background: $header-color;
      }

      &:hover {
        border-radius: 30px;
        color: #696969;
      }
    }
  }
  >.active {
    >a {
      background-color: $header-color;
      border-radius: 20px;
    }
    >.page-link {
      background-color: $header-color;
    }
  }
}

// メッセージ一覧
#message-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem 1rem 8rem 1rem;
}

// メッセージ投稿フォーム
.input-form {
  max-width: 768px;
  padding: 0 1rem;
  background-color: white;
  position: fixed;
  bottom: 56px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}

// ボタン無効化時のスタイル
.btn-primary.disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: auto;
}

#message_content {
  resize: none;
}

.room-title {
  background-color: $bace-color;
  padding: 1rem;
  border-radius: 1rem;
}

.page-footer {
  background-color: $footer-color;
  color: white;
}



@media screen and (max-width: 767px) {
  .base-container {
    padding: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 70px;
  }

  .headding {
    font-size: 1.2rem;
  }

  .event-image {
    width: auto;
    height: 150px;
  }

  .event-label {
    text-align: center;
  }

  .event-show-wrapper {
    margin: 0.5rem;
  }

  .room-title {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .dropdown-menu {
    position: initial;
  }
}