/*
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";
 @import "font-awesome";

.base-container {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.btn-twitter {
  background-color: #1DA0F2;
  & :hover {
    opacity: 0.8;
  }
}
